$primary-color: #ffd53d;
$secondary-color: #fff;

$text-color-1: #000;

$font-stack: 'Rajdhani','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$phone-width: 480px;
$tablet-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;