#menu{
  position: fixed;
  padding: 2rem 0 2rem 0;
  display: flex;
  width: 100%;
  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-left: 10rem;
    img{
      height: 8rem;
      margin-right: 1rem;
    }
  }
}