#showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba($color: #fff, $alpha: 0);
  height: 100vh;
  width: 100vw;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  .left {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 10vw;
    h3 {
      font-weight: 500;
    }
    h4 {
      margin-top: 2rem;
    }
    p {
      font-size: 3rem;
      @include tablet {
        font-size: 2.5rem;
      }
    }
    @include tablet {
      margin-top: 15rem;
      align-items: center;
      padding: 0 10vw 0 10vw;
      text-align: center;
    }
    @include phone {
      margin-top: 10rem;
    }
    .logos {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        margin-top: 4rem;
        @include tablet {
          align-self: center;
        }
        #ethereum-logo {
          height: 5rem;
        }
        #infura-logo {
          height: 6rem;
          margin-left: 4rem;
          @include tablet {
            margin-left: 2rem;
            height: 4rem;
          }
        }
      }
      #blockmason-logo {
        margin-top: 4rem;
        height: 6rem;
        align-self: flex-start;
        @include tablet {
          align-self: center;
          height: 4rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .right {
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
    }
    img {
      height: 100vh;
      @include tablet {
        height: 66rem;
      }
      @include phone {
        height: 30vh;
      }
    }
  }
}
