#solution{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 18rem;
  @include tablet-landscape {
    padding-top: 5rem;
  }
  @include tablet {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
  }
  .left{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 12rem;
    @include tablet {
      justify-content: center;
      align-items: center;
      padding: 0 9rem 2rem 9rem;
    }
    @include phone {
      padding: 0rem 5rem 1rem 5rem;
    }
    ul{
      margin-left: 4rem;
    }
    p, li{
      margin-top: 1.5rem;
    }
  }
  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 38rem;
      @include tablet {
        height: 27rem;
      }
    }
  }
}